@import 'shared';

$indent: 1.5rem;

#content > .doc {
   position: relative;
   @include main-content;
   .timestamps {
      color: #444;
      font-style: italic;
   }
   .hidden {
      display: none
   }
   .title {
      text-align: center;
   }
   #view {
     img {
        width: 49%;
        margin: 0;
        padding: 1rem 1rem;
     }
     li {
        .title {
           text-decoration: underline;
        }
     }
     > ul {
        margin-left: 2*$indent;
     }
     .body {
        margin: $containerPadding;
     }
   }
   #editor {
     top: $textMargin; bottom: $textMargin;
     left: $textMargin; right: $textMargin;
     position: absolute;
   }
   *:last-child {
      margin-bottom: 0;
   }
}

