@import 'shared';

$indent: 1.5rem;

#content > .doc {
   position: relative;
   @include main-content;
   .timestamps {
      color: #444;
      font-style: italic;
   }
   .hidden {
      display: none
   }
   .title {
      text-align: center;
   }
   #view {
     // img {
     //   width: 49%;
     //   margin: 0;
     //   padding: 1rem 1rem;
     //}
     li {
        .title {
           text-decoration: underline;
        }
     }
     > ul {
        margin-left: 2*$indent;
     }
     .body {
        margin: $containerPadding;
        .term {
          color: #910;
          font-weight: bold;
        }
        table {
          margin-bottom: $containerPadding;
          thead {
            @include display-table;
            background-color: rgba(150,150,150,0.2);
            tr {
              @include display-table;
              th {
                @include display-table;
                padding-left: 1rem;
                padding-right: 1rem;
                color: white;
              }
            }
          }
          color: white;
          background-color: rgba(150,150,150,0.2);
          tr:nth-of-type(even) {
            @include display-table;
            background-color: rgba(150,150,150,0.2);
          }
          td {
            @include display-table;
            padding-left: 1rem;
            padding-right: 1rem;
            color: white;
          }
          tr:nth-of-type(odd) {
            @include display-table;
            background-color: transparent;
          }
        }
     }
   }
   #editor {
     top: $textMargin; bottom: $textMargin;
     left: $textMargin; right: $textMargin;
     position: absolute;
   }
   *:last-child {
      margin-bottom: 0;
   }
}

