$containerBackground: rgba(10,10,10,0.7);
$borderWidth: 0.2rem;
$textMargin: 1.4rem;
$containerPadding: 2rem;
$colorMedium: #400;

// the main content div in the center of the screen
@mixin main-content {
   background-color: $containerBackground;
   padding: $textMargin;
}
