@import 'shared';

html {
   background-image: url('http://liftforsmiles.files.wordpress.com/2014/08/18750-weight-bar-gym-workout.jpg');
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

#header, #content:before {
   height: $headerHeight;
   border-width: 0 0 $borderWidth 0;
   border-style: solid;
}

#header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: black;
   border-color: $borderColor;
   z-index: 1;

   * {
      margin: 0;
   }

   .title {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
   }

   .user {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);

     #google-plus-signin {
        background-color: transparent;
        border: 0px;
        width: 120px;
        padding: 0px;
        height: 40px;
     }
   }

   .page-actions {
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);

      .page-action.hidden {
        display: none;
      }
      .page-action {
        box-sizing: content-box;
        border: $borderWidth solid $borderColor;
        margin: 0 0.25rem;
        width: 32px;
        height: 32px;
        display: inline-block;
        a {
          top:0;
          left:0;
          right:0;
          bottom:0;
          display:inline-block;
        }
        img {
          left:0;
          top:0;
          width: 32px;
          height: 32px;
          display: inline-block;
        }
      }
   }
}

#content {
   height: auto;
   padding-bottom: $containerPadding;
   padding-top: $containerPadding;
}

#content:before {
   margin-top: -$containerPadding;
   margin-bottom: $containerPadding;
   display: block;
   content: "";
   border-color: white;
}

html {
   height: 100% !important;
   padding: 0;
   margin: 0;
}

body {
   background-color: rgba(0,0,0,0.6);
   min-height: 100%;
   height: auto;
   overflow-y: scroll;
}

body p,h1,h2,h3,h4,h5,h6,li,code {
   color: #bbb;
}

$backgroundCode: rgba(255, 255, 255, 0.05);

code {
   background-color: $backgroundCode;
   border: none;
   color: #888;
}

pre {
   background-color: $backgroundCode;
   padding: 0.5rem 1rem;
   code { background-color: transparent !important;
   }
   + * {
      margin-top: $textMargin;
   }
}
:target:before {
   visibility: hidden;
   display: block;
   content: "";
   height: $headerHeight;
   margin: -$headerHeight 0 0;
}
