@import 'shared';

html {
   background-image: url('https://liftforsmiles.files.wordpress.com/2014/09/315lbs-platform.jpg');
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

table {
  @include display-table;
  td {
    @include display-table;
  }
}

#header {
   background-color: $containerBackground;

   * {
      margin: 0;
   }

   .title {
   }

   .user {
     #google-plus-signin {
        background-color: transparent;
        border: 0px;
        width: 120px;
        padding: 0px;
        height: 40px;
     }
   }
   > table {
     width: 100%;
     td:nth-child(1) {
       text-align: left;
       width: 33.33%;
     }
     td:nth-child(2) {
       text-align: center;
       width: 33.33%;
     }
     td:nth-child(3) {
       text-align: right;
       width: 33.33%;
     }
   }

   .page-actions {
      white-space: nowrap;
      .page-action.hidden {
        display: none;
      }
      .page-action:hover {
        background-color: $colorMedium;
      }
      .page-action {
        box-sizing: content-box;
        border: $borderWidth solid transparent;
        margin: 0 0.25rem;
        width: 32px;
        height: 32px;
        display: inline-block;
        a {
          top:0;
          left:0;
          right:0;
          bottom:0;
          display:inline-block;
        }
        img {
          left:0;
          top:0;
          width: 32px;
          height: 32px;
          display: inline-block;
        }
      }
   }
}

#content {
   height: auto;
   padding-bottom: $containerPadding;
   padding-top: $containerPadding;
}

html {
   height: 100% !important;
   padding: 0;
   margin: 0;
}

body {
   background-color: rgba(0,0,0,0.6);
   min-height: 100%;
   height: auto;
   overflow-y: scroll;
}

body p,h1,h2,h3,h4,h5,h6,li,code {
   color: #bbb;
}

$backgroundCode: rgba(255, 255, 255, 0.05);

code {
   background-color: $backgroundCode;
   border: none;
   color: #888;
}

pre {
   background-color: $backgroundCode;
   padding: 0.5rem 1rem;
   code { background-color: transparent !important;
   }
   + * {
      margin-top: $textMargin;
   }
}
:target:before {
   visibility: hidden;
   display: block;
   content: "";
}
