@import 'shared';

$indent: 1.5rem;

#content > .index {
  @include main-content;

  *:last-child {
    margin-bottom: 0 !important;
  }
  .title {
    display:none;
  }
  .timestamps {
    display: none;
  }
  .body {
    margin: $containerPadding;
    li {
      .title {
        text-decoration: underline;
      }
    }
    > ul {
      margin-left: 2*$indent;
    }
  }
  p.top-link {
    display: none;
  }
  *:last-child {
    margin-bottom: 0;
  }
}
