@import 'shared';

$indent: 1.5rem;

#content > .message {
   @include main-content;

   > .title {
      text-align: center;
   }

   > .body {
      margin: $containerPadding;
   }

   p:last-child {
      margin-bottom: 0;
   }
}
