html {
  background-image: url("https://liftforsmiles.files.wordpress.com/2014/09/315lbs-platform.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

table {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent; }
  table td {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent; }

#header {
  background-color: rgba(10, 10, 10, 0.7); }
  #header * {
    margin: 0; }
  #header .user #google-plus-signin {
    background-color: transparent;
    border: 0px;
    width: 120px;
    padding: 0px;
    height: 40px; }
  #header > table {
    width: 100%; }
    #header > table td:nth-child(1) {
      text-align: left; }
    #header > table td:nth-child(2) {
      text-align: center; }
    #header > table td:nth-child(3) {
      text-align: right; }
  #header .page-actions {
    white-space: nowrap; }
    #header .page-actions .page-action.hidden {
      display: none; }
    #header .page-actions .page-action:hover {
      background-color: #400; }
    #header .page-actions .page-action {
      box-sizing: content-box;
      border: 0.2rem solid transparent;
      margin: 0 0.25rem;
      width: 32px;
      height: 32px;
      display: inline-block; }
      #header .page-actions .page-action a {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: inline-block; }
      #header .page-actions .page-action img {
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        display: inline-block; }

#content {
  height: auto;
  padding-bottom: 2rem;
  padding-top: 2rem; }

html {
  height: 100% !important;
  padding: 0;
  margin: 0; }

body {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100%;
  height: auto;
  overflow-y: scroll; }

body p, h1, h2, h3, h4, h5, h6, li, code {
  color: #bbb; }

code {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  color: #888; }

pre {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.5rem 1rem; }
  pre code {
    background-color: transparent !important; }
  pre + * {
    margin-top: 1.4rem; }

:target:before {
  visibility: hidden;
  display: block;
  content: ""; }
