html {
  background-image: url("http://liftforsmiles.files.wordpress.com/2014/08/18750-weight-bar-gym-workout.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#header, #content:before {
  height: 4rem;
  border-width: 0 0 0.2rem 0;
  border-style: solid; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  border-color: #300;
  z-index: 1; }
  #header * {
    margin: 0; }
  #header .title {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%); }
  #header .user {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%); }
    #header .user #google-plus-signin {
      background-color: transparent;
      border: 0px;
      width: 120px;
      padding: 0px;
      height: 40px; }
  #header .page-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
    #header .page-actions .page-action.hidden {
      display: none; }
    #header .page-actions .page-action {
      box-sizing: content-box;
      border: 0.2rem solid #300;
      margin: 0 0.25rem;
      width: 32px;
      height: 32px;
      display: inline-block; }
      #header .page-actions .page-action a {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: inline-block; }
      #header .page-actions .page-action img {
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        display: inline-block; }

#content {
  height: auto;
  padding-bottom: 2rem;
  padding-top: 2rem; }

#content:before {
  margin-top: -2rem;
  margin-bottom: 2rem;
  display: block;
  content: "";
  border-color: white; }

html {
  height: 100% !important;
  padding: 0;
  margin: 0; }

body {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100%;
  height: auto;
  overflow-y: scroll; }

body p, h1, h2, h3, h4, h5, h6, li, code {
  color: #bbb; }

code {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  color: #888; }

pre {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.5rem 1rem; }
  pre code {
    background-color: transparent !important; }
  pre + * {
    margin-top: 1.4rem; }

:target:before {
  visibility: hidden;
  display: block;
  content: "";
  height: 4rem;
  margin: -4rem 0 0; }
