#content > .index {
  background-color: rgba(10, 10, 10, 0.7);
  padding: 1.4rem; }
  #content > .index *:last-child {
    margin-bottom: 0 !important; }
  #content > .index .title {
    display: none; }
  #content > .index .timestamps {
    display: none; }
  #content > .index .body {
    margin: 2rem; }
    #content > .index .body li .title {
      text-decoration: underline; }
    #content > .index .body > ul {
      margin-left: 3rem; }
  #content > .index p.top-link {
    display: none; }
  #content > .index *:last-child {
    margin-bottom: 0; }
