@import 'shared';

$indent: 1.5rem;

#content > .index {
  @include main-content;
  .timestamp {
    color: #666;
    font-style: italic;
  }
  > .title {
    text-align: center;
  }
  .body {
    margin: $containerPadding;
    table {
      border: 0;
      background-color: transparent;
      width: 100%;
    }
    tr {
      background-color: transparent;
      td:nth-child(2) {
        text-align: right;
      }
    }
  }
  *:last-child {
    margin-bottom: 0;
  }
}
