#content > .doc {
  border: 0.2rem solid #300;
  background-color: rgba(10, 10, 10, 0.7);
  padding: 1.4rem; }
  #content > .doc .timestamps {
    color: #444;
    font-style: italic; }
  #content > .doc .hidden {
    display: none; }
  #content > .doc .title {
    text-align: center; }
  #content > .doc .body {
    margin: 2rem; }
    #content > .doc .body #view img {
      width: 49%;
      margin: 0;
      padding: 1rem 1rem; }
    #content > .doc .body #view li .title {
      text-decoration: underline; }
    #content > .doc .body #view > ul {
      margin-left: 3rem; }
  #content > .doc *:last-child {
    margin-bottom: 0; }
