<!-- header !-->
<div id='header' clas='small-12 small-centered columns'>

  <a href='/'><h2 class='title'><%- data.siteTitle %></h2></a>

  <span class='page-actions'>
    <span id="action-edit" data-tooltip aria-haspopup="true"
        class="page-action tip-bottom hidden" title="">
      <a href=""><img src="/img/icon/edit.png"></img></a>
    </span>
    <span id="action-view" data-tooltip aria-haspopup="true"
        class="page-action tip-bottom hidden" title="">
      <a href=""><img src="/img/icon/view.png"></img></a>
    </span>
    <span id="action-private" data-tooltip aria-haspopup="true"
        class="page-action tip-bottom hidden" title="">
      <a href=""><img src="/img/icon/private.png"></img></a>
    </span>
    <span id="action-public" data-tooltip aria-haspopup="true"
        class="page-action tip-bottom hidden" title="">
      <a href=""><img src="/img/icon/public.png"></img></a>
    </span>
    <span id="action-create" data-tooltip aria-haspopup="true"
        class="page-action tip-bottom hidden" title="">
      <a href=""><img src="/img/icon/create.png"></img></a>
    </span>
    <span id="action-delete" data-tooltip aria-haspopup="true"
        class="page-action tip-bottom hidden" title="">
      <a href=""><img src="/img/icon/delete.png"></img></a>
    </span>
    <span id="action-submit" data-tooltip aria-haspopup="true"
        class="page-action tip-bottom hidden" title="">
      <a href=""><img src="/img/icon/submit.png"></img></a>
    </span>
  </span>

  <p class='user'>
    <% if (data.session) { %>
      <%- data.session.user.email %>
    <% } else { %>
     <a href="{{loginUrl}}"><img id="google-plus-signin"src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Medium_base_44dp.png"></img></a>
    <% } %>
  </p>

</div>
