<div class='doc row small-12 small-centered columns'>
  <% if (data.notFound) { %>
    <h1 class='title'>Document Not Found</h1>
    <div class='body'><p>The document you requested was not found.</p></div>
  <% } else { %>
    <script>window.doc=<%= data.doc %>;</script>
    <div id="view">
      <%= renderTemplate('/doc/doc', data) %>
    </div>
    <div id="editor" class="hidden">
      <h1 contentEditable='true' class='title'><%- data.title %></h1>
      <textarea id="code" name="code"></textarea>
    </div>
  <% } %>
</div>
